<div class="container">
  <div class="row">
    <div class="col">
      <div class="mt-4 mb-4">
        <h2 class="text-center">Bienvenido a la aplicación de Interceptores - Certus!</h2>
      </div>
      <div class="d-flex justify-content-center">
        <img width="30%" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/512px-Angular_full_color_logo.svg.png" alt="imgAngular" class="">
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Body</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.title }}</td>
            <td>{{ user.body }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
